@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face{
	font-family: 'sub_title';
	src: url('../font/Script MT Bold.ttf') format("truetype"),
		  url('../font/Script MT Bold.eot') format('embedded-opentype'),
		  url('../font/Script MT Bold.woff') format("woff");
}
	
	body {

	    margin-left: auto;
		margin-right: auto;
		margin-top: auto;
	}
	.header{
		min-width: 1100px;
		background-color: #e2d2bb;
		height:46px;
		opacity: 0.7;
		font-family: 'Noto Sans Korean';
	}
	.header:after{
		content: "";
		display:block;
		clear: both
	}
	.h_l{
		float: left;
		width: 150px;
		height: 100%;
	}
	.h_l img{
		padding-top: 8px;
		width: 30px;
		margin-left: 55px;
	}
	.h_m{
		float: left;
		width: auto
	}
	.h_m ul{
		margin: 0;
		padding: 0;
		list-style: none
	}
	.h_m li a{
		display: block;
		padding: 15px 25px;
		color: #000000;
		font-size: 9px;
		letter-spacing: 2px;
		text-decoration: none
	}
	.h_m li a:hover, a:focus{
		text-decoration: none
	}
	.h_m ul:after{
		content: "";
		display: block;
		clear: both
	}
	.h_m li{
		float: left;
		width: auto
	}
	.h_r{
		float: right;
		width: auto;
		font-family: Noto Sans Korean Medium;		
	}
	.h_r ul{
		margin: 0;
		margin-right: 30px;
		padding: 0;
		list-style: none
	}
	.h_r li a{
		display: block;
		padding: 15px;
		color: #000000;
		font-size: 9px;
		letter-spacing: 2px;
		text-decoration: none
	}
	.h_r li a:hover, a:focus{
		text-decoration: none
	}
	.h_r ul:after{
		content: "";
		display: block;
		clear: both
	}
	.h_r li{
		float: left;
		width: auto
	}
	.contents{
	margin-top: 30px;
	margin-left: 180px;
	width: 100%;
	height: 300px;
	}
	.deco1{
		display: inline;
		font-size: 60px;
		font-family: 'Noto Sans Korean';
		letter-spacing: 2.2px;
		font-stretch: ultra-expanded;
		border-bottom: 1px solid;
	}
	.deco2{
		position: relative;
		top: -30px;
		display: inline;
		font-size: 60px;
		font-family: 'sub_title', 'Script MT Bold', 'Dynalight';		
		border-bottom: 1px solid;
	}

	.bg_img{
		width: 100%;
	}
	.contents_b{
		position: absolute;
		/* width: 1960px; */
	}
	.contents_inner{
		position: absolute;
		top: 45px;
		left: 10%;
		right: 10%;
		width: 900px;
		margin: 0 auto;
	}
	.contents_inner img{
		width: 450px;
		height: 292px;
	}
	.box1{
	margin-top : 50px;
	}
	.box2{
		z-index: 0;
	}
	.box3{
		width: 900px;
		height: 292px;
		z-index: 0;
	}
	.box4{
		z-index: 0;
	}
	.ex_1{
		position: absolute;
		top: -80px;
		right: 0px;
		width: 450px;
		height: 292px;
		background-color: #e2d2bb;
		font-family: 'Noto Sans CJK KR DemiLight';
		font-size: 11px;
		letter-spacing: 2.2px;
		line-height: 2;
		padding-left: 50px;
		padding-top: 30px;
	}
	.ex_2{
		position: absolute;
		z-index: 5;
		width: 450px;
		height: 292px;
		font-family: 'Noto Sans CJK KR DemiLight';
		font-size: 11px;
		letter-spacing: 2.2px;
		line-height: 2;
		padding-left: 50px;
		padding-top: 30px;
		color: white;
	}
	.ex_3{
		position: absolute;
		z-index: 5;
		background-color: white;
		right: 0px;
		width: 450px;
		height: 292px;
		font-family: 'Noto Sans CJK KR DemiLight';
		font-size: 11px;
		letter-spacing: 2.2px;
		line-height: 2;
		padding-left: 50px;
		padding-top: 30px;
	}
	.ex_4{
		position: absolute;
		z-index: 5;
		background-color: white;
		left: 0px;
		width: 450px;
		height: 292px;
		font-family: 'Noto Sans CJK KR DemiLight';
		font-size: 11px;
		letter-spacing: 2.2px;
		line-height: 2;
		padding-left: 50px;
		padding-top: 30px;
		background-color: #e2d2bb;
	}
	.box4 img{
		position: absolute;
		z-index: 5;
		right: 0px;
	}
	.plant_img img{
		width: 170px;
		height: 137px;
		position: absolute;
		z-index: 4;
		right: -60px;
		top: 140px;
	}
	.plant_img2 img{
		width: 140px;
		height: 117px;
		position: absolute;
		z-index: 4;
		left: -65px;
		top: 870px;
	}
	.contents_c{
		position: absolute;
		top: 1750px;
		width: 100%;
		height: 550px;
	}
	.padding{
		margin-top: 30px;
		margin-left: 180px;
		margin-bottom: 30px;
	}
	.con_img{
		content: "";
		display: block;
		clear: both;
		width: 900px;
		margin:0 auto;
	}
	.con_img img{
		position: absolute;
		top: -25px;
		right: -20px;
		width: 100px;
	}
	.con_box3 img{
		position: absolute;
		top: -30px;
		right: -20px;
		width: 80px;
	}
	.con_box1{
		position: relative;
		float: left;
		width: 230px;
		height: 250px;
		padding-top: 80px;
		background-color: #fbeccb;
	}
	.con_box2{
		position: relative;
		float: left;
		width: 230px;
		height: 250px;
		margin: 0 100px;
		padding-top: 80px;
		background-color: #f2deb3;
	}
	.con_box3{
		position: relative;
		float: left;
		width: 230px;
		height: 250px;
		background-color: #ead3a2;
		padding-top: 80px;
	}
	.contact_title{
		display: inline;
		font-family: 'Noto Sans Korean Medium';
		font-size: 25px;
		letter-spacing: 2.2px;
		line-height: 2;
		margin-left: 20px;
	}
	.contact_ex{
		position: absolute;
		margin-left: 20px;
		line-height: 1;
		bottom: 40px;
	}
	.sub_title{
		font-size: 30px;
		font-weight: 900;
	}
	.sub_ex{
		margin-top: 70px;
	}
	.con_title img{
		width: 280px;
	}
	.con_ex{
		font-family: 'Noto Sans CJK KR DemiLight';
		font-size: 11px;
		letter-spacing: 2.2px;
		line-height: 2;
	}
	.img_search{
		width: 10x;
	}
	.em{
		font-family: 'Noto Sans Korean Medium';
	}
	
	
	
	
	
	/* modal */
	.modal-open{
		overflow: auto !important;
		padding-right: 0px !important;
	}
	.modal-content{
		border-radius: 0px !important;
	}
	.modal_wrap{
		width: 300px;
		height: 400px;
		padding: 30px 50px;
	}
	.login_logo{
		width:23px;
		margin-left: auto;
		margin-right: auto;
	}
	.login_logo img{
		width:23px;
	}
	.login_line{
		width: 40px;
		margin: 0 auto;
	}
	.login_line img{
		width: 40px;
	}
	.login_title{
		width: 100px;
		text-align: center;
		margin: 0 auto;
		font-family: 'Noto Sans Korean Medium';
		font-size: 18px;
		font-weight:bold;
		color: #333333;
	}
	.modal_login{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.modal_login input{
		width: 180px;
		border: none;
	}

	.modal_input{
		margin: 10px;
	 	border-bottom: #222222 1px solid;
	 	line-height: initial;
	}
	.modal_group_btn{
		width: 200px;
		padding: 5px auto;
		text-align: center;
		font-family: 'Noto Sans CJK KR DemiLight';
		font-size: 11px;
		color: #333333;
	}
	.login_btn_def{
		cursor:pointer;
		height: 30px;
		line-height: 10px;
		background-color: #FBECCB;
		padding: 10px;
	}
	.login_btn_kaka{
		margin-top: 10px;
		line-height: 10px;
		height: 30px;
		background-color: #FAE101;
		padding: 10px;
	}
	.login_btn_face{
		margin-top: 10px;
		line-height: 10px;
		height: 30px;
		background-color: #4242E2;
		color: white;
		padding: 10px;
	}
	.modal_sc_pw{
		text-align: right;
		font-size: 8px;
		color: #636363;
		padding-right: 10px;
		font-family: 'Noto Sans CJK KR DemiLight';
	}
	.text-placeholder{
		color: #d3d3d3;
		text-align : left;
		font-size: 9px;
		}
	::-webkit-input-placeholder{
		color: #d3d3d3;
		text-align : left;
		font-size: 9px;
	}
	textarea:-moz-placeholder, input:-moz-placeholder{
		color: #d3d3d3;
		text-align : left;
		font-size: 9px;
	}
	.modal_close img{
		margin-top: 60px !important;
		margin-left: 270px;
		width: 33px;
	}
	.modal_ex{
		text-align: center;
		font-size: 8px;
		color: #333333;
		padding: 30px 0px;
		font-family: 'Noto Sans CJK KR DemiLight';
	}
	.deco_line{
		padding-top:60px;
		width: 20px;
		margin:0 auto;
		border-bottom: #636363 1px solid;
	}
	.modal_signup{
		margin-top: 50px;
		margin-bottom: 60px;
		padding: 0 20px;
	}
	.modal_signup input{
		width: 180px;
		border: none;
	}
	
	
/* font */
