
<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/aboutus.css">
	<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	</head>
	<body>
			<div class="header">
				<div class="h_l">
				<a href="index.html"><img src="../img/cg_logo.png"/></a>
				</div>
				<div class="h_m">
					<ul>
						<li><a href="aboutus.html" class="about">ABOUT US</a></li>
						<li><a href="artists.html" class="artists">ARTISTS</a></li>
						<li><a href="artworks.html" class="artworks">ARTWORKS</a></li>
						<li><a href="mygalleria.html" class="mygalleria">MY GALLERIA</a></li>
						<li><a href="withus.html" class="withus">WITH US</a></li>
						<li><a href="rules.html" class="rules">RULES</a></li>
					</ul>
				</div>
				<div class="h_r">
					<ul>
						<li><a href="#"><span data-toggle="modal" data-target=".signup2_m"><img class="img_search" src="../img/search_icon.png"/></span></a></li>
						<li><a href="#"><span data-toggle="modal" data-target=".login_m">LOGIN</span></a></li>
						<li><a href="#"><span data-toggle="modal" data-target=".signup_m">SIGN UP</span></a></li>
					</ul>
				</div>
			</div>

		<div id="container">
			<div class="contents">
				<div class="sub_title">
				<div class="deco1">ABOUT</div><br>
				<div class="deco2">us</div>
				</div>
				<div class="con_ex">
				저희 까사 갤러리아는 미래 예술가들의 다양한 작품을 더 합리적인 가격에,<br>
				3개월 단위로 후원해 주실 수 있는 학부생 예술품 렌탈 서비스입니다.
				</div>
				
			</div>
			<div class="contents_b"><img class="bg_img" src="../img/pattern_bg.png">
				<div class="contents_inner">
					<div class="box1"><img src="../img/pic_2.png">
						<div class="ex_1">
							<div class="sub_title">SERVICE-</div>
							<div class="sub_ex">
							저희 까사 갤러리아는 미래 예술가들의 다양한 작품을<br>
							더 합리적인 가격에, 3개월 단위로 만나보실 수 있는<br>
							학부생 예술품 렌탈 서비스입니다.
							</div>
						</div>
						<span class="plant_img"><img src="../img/plant.png"></span>
					</div>
					<div class="box2">
						<div class="ex_2">
							<div class="sub_title">SUPPORTER-</div>
							<div class="sub_ex">
							월 3만원대의 가격으로 미래의 예술가들의 완작품을<br>
							렌탈하므로서 미래의 예술가들을 후원할 수 있습니다.
							</div>
						</div>
						<img src="../img/pic_3.png"><img src="../img/pic_4.png"></div>
					<div class="box3">
						<div class="ex_3">
							<div class="sub_title">VARIETY-</div>
							<div class="sub_ex">
							저희 까사 갤러리아에서는 미대생들의<br>
							회화뿐만 아니라, 공예, 조각, 사진, 일러스트까지<br>
							모든 분야의 미술품을 다루고 있습니다.
							</div>
						</div>
					</div>
					<div class="box4">
						<div class="plant_img2"><img src="../img/plant.png"></div>
						<div class="ex_4">
							<div class="sub_title">CUSTOMIZING-</div>
							<div class="sub_ex">
							원하시는 작품을 직접 학생들에게 의뢰하여<br>
							나만을 위한 스토리 있는 작품을 만들어 낼 수 있습니다.
							</div>
						</div>
						<img src="../img/pic_5.png">
					</div>
				</div>
			</div>
			<div class="contents_c">
				<div class="sub_title padding">
					<div class="deco1">CONTACT	</div><br>
					<div class="deco2">us</div>
				</div>
				<div class="con_img">
					<div class="con_box1">
					<img src="../img/email.png">
					<div class="contact_title">E-MAIL</div><br>
						<div class="contact_ex">
						casagalleria@gmail.com
						</div>
					</div>
					<div class="con_box2">
					<img src="../img/phone.png">
					<div class="contact_title">PHONE</div><br>
						<div class="contact_ex">
						010-4773-2186<br><br>
						010-2455-6690</div>
						</div>
					<div class="con_box3">
					<img src="../img/iphone.png">
					<div class="contact_title">SNS</div><br>
						<div class="contact_ex">
						FACEBOOK: casagalleria<br><br>
						INSTAGRAM: casa_galleria
						</div>
					</div>
				</div>
				
			</div>
		</div>
			
		
		<!-- Login modal -->
		<div class="modal login_m" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm">
		  		      <div class="modal_close"><img src="../img/x_button.png" data-dismiss="modal"></div>
		    <div class="modal-content">
		      <div class="modal_wrap">
		      	<div class="modal_title">
		      		<div class="login_logo"><img src="../img/cg_logo.png"></div>
		      		<div class="login_line"><img src="../img/line.png"></div>
		      		<div class="login_title">LOGIN</div>
		      	</div>
		      	<div class="modal_login">
		      		<div class="modal_input"><input type="text" placeholder="이메일"></div>
		      		<div class="modal_input"><input type="password" placeholder="비밀번호"></div>
		      		<div class="modal_sc_pw">비밀번호찾기</div>
		      	</div>
		      	<div class="modal_group_btn">
		      		<div class="login_btn_def">로그인</div>
		      		<div class="login_btn_kaka">카카오톡으로 로그인</div>
		      		<div class="login_btn_face">페이스북으로 로그인</div>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- SignUP modal -->
		<div class="modal signup_m" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm">
		  		      <div class="modal_close"><img src="../img/x_button.png" data-dismiss="modal"></div>
		    <div class="modal-content">
		      <div class="modal_wrap">
		      	<div class="modal_title">
		      		<div class="login_logo"><img src="../img/cg_logo.png"></div>
		      		<div class="login_line"><img src="../img/line.png"></div>
		      		<div class="login_title">JOIN US</div>
		      	</div>
		      	<div class="modal_ex">
		      		10초만의 가입으로 까사갤러리아의</br>
		      		멋진 작품을 감상하실 수 있습니다.
		      		<div class="deco_line"></div>
		      	</div>
		      	<div class="modal_group_btn">
		      		<div class="login_btn_def" data-dismiss="modal" data-toggle="modal" data-target=".signup2_m">이메일로 가입하기</div>
		      		<div class="login_btn_kaka">카카오톡으로 가입하기</div>
		      		<div class="login_btn_face">페이스북으로 가입하기</div>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- SignUP-secondpage modal -->
		<div class="modal signup2_m" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm">
		  		      <div class="modal_close"><img src="../img/x_button.png" data-dismiss="modal"></div>
		    <div class="modal-content">
		      <div class="modal_wrap">
		      	<div class="modal_title">
		      		<div class="login_logo"><img src="../img/cg_logo.png"></div>
		      		<div class="login_line"><img src="../img/line.png"></div>
		      		<div class="login_title">JOIN US</div>
		      	</div>
		      	<div class="modal_signup">
		      		<div class="modal_input"><input type="text" placeholder="이메일"></div>
		      		<div class="modal_input"><input type="text" placeholder="성명"></div>
		      		<div class="modal_input"><input type="password" placeholder="비밀번호"></div>
		      		<div class="modal_input"><input type="password" placeholder="확인"></div>
		      	</div>
		      	<div class="modal_group_btn">
		      		<div class="login_btn_def">이메일로 가입하기</div>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
		
	</body>
</html>