
<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>카사갤러리아 입니다.</title>
	<link rel="stylesheet" href="../css/index.css">
	<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	
	</head>
	<body>
			<div class="header">
				<div class="h_l">
				<a href="index.html"><img src="../img/cg_logo.png"/></a>
				</div>
				<div class="h_m">
					<ul>
						<li><a href="aboutus.html" class="about">ABOUT US</a></li>
						<li><a href="artists.html" class="artists">ARTISTS</a></li>
						<li><a href="artworks.html" class="artworks">ARTWORKS</a></li>
						<li><a href="mygalleria.html" class="mygalleria">MY GALLERIA</a></li>
						<li><a href="withus.html" class="withus">WITH US</a></li>
						<li><a href="rules.html" class="rules">RULES</a></li>
					</ul>
				</div>
				<div class="h_r">
					<!-- 로그인 전  -->
					<ul>
						<li><a href="#"><img class="img_search" src="../img/search_icon.png"/></a></li>
						<li><a href="#"><span data-toggle="modal" data-target=".login_m">LOGIN</span></a></li>
						<li><a href="#"><span data-toggle="modal" data-target=".signup_m">SIGN UP</span></a></li>
					</ul>
					<!--  로그인 후 -->
					<ul>
						<li><a href="#"><img class="img_search" src="../img/search_icon.png"/></a></li>
						<li><a href="#"><img class="img_profile" src="../img/icn_profile.png"/></a></li>
						<li><a href="#">김카사 님</a></li>
						<li><a href="#"><img class="img_logout" src="../img/btn_logout.png"/></a></li>
					</ul>
				</div>
			</div>

		<div id="container">
			<div class="deco_box">
				<img src="../img/white_square.png"/>
			</div>
			<div class="contents">
				<div class="con_title">
				<img src="../img/cg_main.png"/>
				</div>
				<div class="con_ex">
				저희 까사 갤러리아는 미래 예술가들의<br>
				다양한 작품을 더 합리적인 가격에,<br>
				3개월 단위로 후원해 주실 수 있는<br>
				<span class="em">학부생 예술품 렌탈 서비스</span>입니다.
				</div>
				<div class="ex_btn">
				<a href="artworks.html"><img src="../img/explore_btn.png"/></a>
				</div>
			</div>
		</div>
		
		<!-- Login modal -->
		<div class="modal login_m" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm">
		  		      <div class="modal_close"><img src="../img/x_button.png" data-dismiss="modal"></div>
		    <div class="modal-content">
		      <div class="modal_wrap">
		      	<div class="modal_title">
		      		<div class="login_logo"><img src="../img/cg_logo.png"></div>
		      		<div class="login_line"><img src="../img/line.png"></div>
		      		<div class="login_title">LOGIN</div>
		      	</div>
		      	<div class="modal_login">
		      		<div class="modal_input"><input type="text" id="email" placeholder="이메일"></div>
		      		<div class="modal_input"><input type="password" id="password" placeholder="비밀번호"></div>
		      		<div class="modal_sc_pw">비밀번호찾기</div>
		      	</div>
		      	<div class="modal_group_btn">
		      		<div class="login_btn_def" onclick="login();">로그인</div>
		      		<div class="login_btn_kaka">카카오톡으로 로그인</div>
		      		<div class="login_btn_face">페이스북으로 로그인</div>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- SignUP modal -->
		<div class="modal signup_m" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm">
		  		      <div class="modal_close"><img src="../img/x_button.png" data-dismiss="modal"></div>
		    <div class="modal-content">
		      <div class="modal_wrap">
		      	<div class="modal_title">
		      		<div class="login_logo"><img src="../img/cg_logo.png"></div>
		      		<div class="login_line"><img src="../img/line.png"></div>
		      		<div class="login_title">JOIN US</div>
		      	</div>
		      	<div class="modal_ex">
		      		10초만의 가입으로 까사갤러리아의</br>
		      		멋진 작품을 감상하실 수 있습니다.
		      		<div class="deco_line"></div>
		      	</div>
		      	<div class="modal_group_btn">
		      		<div class="login_btn_def" data-dismiss="modal" data-toggle="modal" data-target=".signup2_m">이메일로 가입하기</div>
		      		<div class="login_btn_kaka">카카오톡으로 가입하기</div>
		      		<div class="login_btn_face">페이스북으로 가입하기</div>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- SignUP-secondpage modal -->
		<div class="modal signup2_m" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm">
		  		      <div class="modal_close"><img src="../img/x_button.png" data-dismiss="modal"></div>
		    <div class="modal-content">
		      <div class="modal_wrap">
		      	<div class="modal_title">
		      		<div class="login_logo"><img src="../img/cg_logo.png"></div>
		      		<div class="login_line"><img src="../img/line.png"></div>
		      		<div class="login_title">JOIN US</div>
		      	</div>
		      	<div class="modal_signup">
		      		<div class="modal_input"><input type="text" placeholder="이메일" id="join_email"></div>
		      		<div class="modal_input"><input type="text" placeholder="성명" id="join_name"></div>
		      		<div class="modal_input"><input type="password" placeholder="비밀번호" id="join_password"></div>
		      		<div class="modal_input"><input type="password" placeholder="확인" id="join_password_chk"></div>
		      	</div>
		      	<div class="modal_group_btn">
		      		<div class="login_btn_def">이메일로 가입하기</div>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
		
	</body>
</html>